<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/layout :: head(title='Register')}"></th:block>
</head>
<body>
<div th:replace="~{fragments/layout :: header}"></div>

<main class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
            <h1 class="h3 mb-4">Create an account</h1>

            <form th:action="@{/register}" th:object="${registrationForm}" method="post" class="row g-3">
                <div class="col-12 col-md-6">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="firstName" th:field="*{firstName}"
                           th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                           th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</div>
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}"
                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}"
                           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="confirmPassword" class="form-label">Confirm password</label>
                    <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}"
                           th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm password error</div>
                </div>
                <div class="col-12 d-grid d-md-block">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>

            <p class="mt-3">Already have an account? <a th:href="@{/login}">Login here</a></p>
        </div>
    </div>
</main>

<div th:replace="~{fragments/layout :: footer}"></div>
<th:block th:replace="~{fragments/layout :: scripts}"></th:block>
</body>
</html>
