<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/layout :: head(title='Something went wrong')}"></th:block>
</head>
<body>
<div th:replace="~{fragments/layout :: header}"></div>
<div th:replace="~{fragments/layout :: errorPage('500', 'Something went wrong', 'An unexpected error occurred. Please try again later.')}"></div>
<div th:replace="~{fragments/layout :: footer}"></div>
<th:block th:replace="~{fragments/layout :: scripts}"></th:block>
</body>
</html>
